<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.aposin.mergeprocessor.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="org.aposin.mergeprocessor.application.Perspective"
            id="org.aposin.mergeprocessor.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.aposin.mergeprocessor.application"
            name="MergeProcessor">
         <property
               name="appName"
               value="MergeProcessor">
         </property>
         <property
               name="windowImages"
               value="icons/v_collection_png/16x16/plain/graph_edge_directed.png,icons/v_collection_png/32x32/plain/graph_edge_directed.png,icons/v_collection_png/48x48/plain/graph_edge_directed.png,icons/v_collection_png/64x64/plain/graph_edge_directed.png,icons/v_collection_png/128x128/plain/graph_edge_directed.png">
         </property>
         <property
               name="applicationXMI"
               value="org.aposin.mergeprocessor/LegacyIDE.e4xmi">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.aposin.mergeprocessor/org.aposin.mergeprocessor.application.LifeCycleHook">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            class="org.aposin.mergeprocessor.view.dashboard.Dashboard"
            id="org.aposin.mergeprocessor.view"
            name="%view.name"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.aposin.mergeprocessor.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.aposin.mergeprocessor.configuration.WorkbenchPreferencePage"
            id="org.aposin.mergeprocessor.page"
            name="%page.name.mergeprocessor">
      </page>
      <page
            category="org.aposin.mergeprocessor.page"
            class="org.aposin.mergeprocessor.configuration.GitRepositoriesPreferencePage"
            id="org.aposin.mergeprocessor.page.git.repositories"
            name="Git Repositories">
      </page>
      <page
            category="org.aposin.mergeprocessor.page"
            class="org.aposin.mergeprocessor.configuration.RenamingPreferencePage"
            id="org.aposin.mergeprocessor.page.renaming"
            name="Renaming">
      </page>
      <page
            category="org.aposin.mergeprocessor.page"
            class="org.aposin.mergeprocessor.configuration.EclipseWorkspaceStartPeferencePage"
            id="org.aposin.mergeprocessor.page.workspace.eclipse.start"
            name="Eclipse Workspace Start">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.aposin.mergeprocessor.application.ToolbarProcessor">
         <element
               id="org.aposin.mergeprocessor.toolbar">
         </element>
      </processor>
   </extension>

</plugin>
